<cdb-confirm-form *ngIf="isConfirmModal"
                  (cancelEvent)="onCancel()"
                  (submitEvent)="onSubmit($event)">
</cdb-confirm-form>
<cdb-computer-form *ngIf="isDataComputer"
                   [computer]="data"
                   (cancelEvent)="onCancel()"
                   (submitEvent)="onSubmit($event)">
</cdb-computer-form>
<cdb-company-form *ngIf="isDataCompany"
                  [company]="data"
                  (cancelEvent)="onCancel()"
                  (submitEvent)="onSubmit($event)">
</cdb-company-form>



