<mat-toolbar color="primary">
  <a href="#" class="menu-title" [routerLink]="['/computer/']">Cdb</a>
  <div *ngIf="!isConnected()" >
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>
        <i class="material-icons">view_headline</i>
      </mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="computer">
        <span>{{ 'HOME.COMPUTER.NAME' | translate }}</span>
      </button>
      <button mat-menu-item routerLink="company">
        <span>{{ 'HOME.COMPANY.NAME' | translate }}</span>
      </button>
    </mat-menu>
  </div>
  <div class="nav-center">
    <ul *ngIf="title">
      <li>{{ this.title | translate }}</li>
    </ul>
  </div>
  <div *ngIf="!isConnected()">
    <div class="nav-right">
      <button mat-button mat-raised-button *ngIf="!isConnected()" (click)="logout()">
        <mat-icon>
          <i class="material-icons">power_settings_new</i>
        </mat-icon>
        <span>{{ 'HOME.LOGOUT' | translate }}</span>
      </button>
    </div>
  </div>
</mat-toolbar>
