.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

table {
  width: 100%;
  overflow: auto;
  max-height: 10vh;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  margin: auto;
  background-size: cover;
}

.company-card {
  min-width: 20vw;
  max-width: 40vw;
  margin-bottom: 2%;
  margin-top: 2%;
}

.description {
  max_width: 100%;
  overflow-wrap: break-word;
}

.cell-name {
  padding-right: 1%;
}

.cell-intro {
  padding-right: 1%;
  padding-left: 1%;
}

.cell-disco {
  padding-left: 1%;
}
