<mat-card class="company-card">
  <mat-card-header>
    <mat-card-title>{{company.name}}</mat-card-title>
    <mat-card-subtitle>&nbsp;</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img mat-card-image src="{{company.image}}" alt="">
    <p class="description">
      Description : {{company.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button [routerLink]="['/company/edit/', company.id]" color="primary">Modifier</a>
    <a mat-raised-button [routerLink]="['/company']">Annuler</a>
  </mat-card-actions>

  <mat-card-content *ngIf="company.computers.length == 0">
    <p class="description">
      No computer manufactured by this company
    </p>
  </mat-card-content>

  <table mat-table [dataSource]="company.computers" *ngIf="company.computers.length != 0">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th class="cell-name" mat-header-cell *matHeaderCellDef> Name </th>
      <td class="cell-name" mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="introduced">
      <th class="cell-intro" mat-header-cell *matHeaderCellDef> Introduced </th>
      <td class="cell-intro" mat-cell *matCellDef="let element"> {{element.introduced | introducedDatePipe:false}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="discontinued">
      <th class="cell-disco" mat-header-cell *matHeaderCellDef> Discontinued </th>
      <td class="cell-disco" mat-cell *matCellDef="let element"> {{element.discontinued | discontinuedDatePipe:false}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
