@import url('https://fonts.googleapis.com/css?family=PT+Mono');

.company-card {
  cursor: pointer;
  margin: 2px 0;
  font-family: 'PT Mono', monospace;
  font-size: 14px;
  padding: 24px 16px !important;
  text-align: center;
}
