<mat-card class="computer-card" *ngIf="computer" routerLink="/computer/{{ computer.id }}">
  <mat-card-header>
    <div mat-card-avatar class="header-icon-image">
      <i class="material-icons">desktop_windows</i>
    </div>
    <mat-card-title>{{ computer.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="card-content-line">
      <i class="material-icons">today</i>
      <span>{{ computer.introduced | introducedDatePipe }}</span>
    </div>
    <div class="card-content-line">
      <i class="material-icons">event</i>
      <span>{{ computer.discontinued | discontinuedDatePipe }}</span>
    </div>
    <div class="card-content-line">
      <i class="material-icons">local_shipping</i>
      <span>{{ computer.company | companyPipe }}</span>
    </div>
  </mat-card-content>
</mat-card>
