  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card-header>
      <mat-card-title>{{ title | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="form-group">
        <mat-form-field hintLabel="Max {{ maxLength }} characters">
          <input matInput #inputName [attr.maxlength]="maxLength" class="form-control" formControlName="name" placeholder="{{ 'COMPUTER.CNAME' | translate }}">
          <mat-hint align="end">{{ inputName.value?.length || 0 }}/{{ maxLength }}</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input [matDatepicker]="introductionDatepicker" matInput class="form-control" formControlName="introduced" placeholder="{{ 'COMPUTER.INTRO' | translate }}">
          <mat-datepicker-toggle matSuffix [for]="introductionDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #introductionDatepicker disabled="false"></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input [matDatepicker]="discontinuedDatepicker" matInput class="form-control" formControlName="discontinued" placeholder="{{ 'COMPUTER.DISC' | translate }}">
          <mat-datepicker-toggle matSuffix [for]="discontinuedDatepicker"></mat-datepicker-toggle>
          <mat-datepicker ng-model-options="{ timezone: 'utc' }" #discontinuedDatepicker disabled="false"></mat-datepicker>
          <mat-error>{{'MESSAGE.ERROR_LENGTH' | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select class="form-control" formControlName="companyId" placeholder="{{ 'COMPUTER.COMPANY' | translate }}">
            <mat-option [value]="0">{{ "COMPUTER.NOCOMPANY" | translate }}</mat-option>
            <div *ngFor="let company of companies">
              <mat-option [value]="company.id">{{ company.name }}</mat-option>
            </div>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="form.invalid" type="submit">{{ "BUTTON.CONFIRM" | translate }}</button>
      <button mat-raised-button (click)="onCancel()" type="button">{{ "BUTTON.CANCEL" | translate }}</button>
    </mat-card-actions>
  </form>
