<div class="container">
  <div class="container-signup">
    <mat-card [@Animation]="'init'" class="example-card">
      <mat-card-header class="mat-title">
        <div mat-card-avatar class="example-header-image">
          <i class="material-icons">
            perm_identity
          </i>
        </div>
        <mat-card-title i18n>Create a new account</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="userForm">
          <p>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username*" formControlName="username" i18n-placeholder>
              <mat-error>
                <div *ngIf="userForm.get('username').hasError('required') && userForm.get('username').touched" i18n>This field should be not empty</div>
                <div *ngIf="userForm.get('username').hasError('minlength') && userForm.get('username').touched" i18n>Must be at least 3 characters long.</div>
              </mat-error>
            </mat-form-field>
          </p>
          <div formGroupName="passwords">
            <p>
              <mat-form-field class="example-full-width">
                <input matInput type="password" placeholder="Password*" formControlName="password" i18n-placeholder>
                <mat-error>
                  <div *ngIf="userForm.get(['passwords','password']).hasError('required')
                && userForm.get(['passwords','password']).touched" i18n>
                    This field should be not empty
                  </div>
                  <div *ngIf="userForm.get(['passwords','password']).hasError('minlength')
                && userForm.get(['passwords','password']).touched" i18n>
                    Must be at least 3 characters long.
                  </div>
                </mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field class="example-full-width">
                <input matInput type="password" placeholder="Confirm password*" formControlName="confirm_password" i18n-placeholder>
              </mat-form-field>
              <mat-error>
                <div *ngIf="userForm.get(['passwords','confirm_password']).hasError('required')
              && userForm.get(['passwords','confirm_password']).touched" i18n>
                  This field should be not empty
                </div>
                <div *ngIf="userForm.get(['passwords','confirm_password']).hasError('MatchPassword')
              && userForm.get(['passwords','confirm_password']).touched" i18n>
                  Password does not match
                </div>
              </mat-error>
            </p>
          </div>
          <mat-card-actions>
            <button class="mat-button" color="warn" mat-raised-button routerLink="/login" i18n>Cancel</button>
            <button class="mat-button" color="primary" mat-raised-button (click)="signUp()" type="submit" [disabled]="!userForm.valid"
              i18n>Sign up</button>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
