<div class="container">
  <div id="actionsBar">

    <form (ngSubmit)="submitSearch()">
      <mat-form-field>
        <input #searchInput type="text" placeholder="{{'PAGE.NAME' | translate}}" aria-label="Name" matInput [formControl]="searchControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredCompanies$ | async" [value]="option">
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-icon matSuffix [ngStyle]="{'cursor': 'pointer'}" (click)="submitSearch()">search</mat-icon>
      </mat-form-field>
    </form>

    <div>
      <mat-form-field>
        <mat-select class="subtitle" [formControl]="sortControl" [(value)]="activeSort">
          <mat-option value="{{ SORTS.BY_NAME }}">{{'PAGE.ORDERBY.NAME' | translate}}</mat-option>
          <mat-option value="{{ SORTS.BY_NAME_DESC }}">{{'PAGE.ORDERBY.DESC' | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-paginator #paginator *ngIf="pageInfo" [length]="companies.totalElements"
      [showFirstLastButtons]="true"
      [pageSize]="pageInfo.pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent($event)">
    </mat-paginator>

  </div>
  <div *ngIf="companies">
    <cdb-company [@Animation]="transition" *ngFor=" let company of companies.content " [company] = "company" class="company-cards"></cdb-company>
  </div>
</div>

<div class="fab-buttons">
  <button mat-fab (click)="showDialog()">
    <i class="material-icons">add</i>
  </button>
</div>
