.company-cards {
  display: flex;
  flex-flow: column wrap;
  float: left;
  padding: 10px;
}
::ng-deep .mat-paginator-container {
  justify-content: center !important;
}
.container {
  padding: 0 5%;
}
