.computer-cards {
  display: flex;
  flex-flow: column wrap;
  float: left;
  padding: 0px;
}

::ng-deep .mat-paginator-container {
  justify-content: center !important;
}
.container {
  padding: 0 5%;
  background: rgba(255,255,255,0.7);
  min-width: 90vmax;
}
::ng-deep .container {
  background: #0000001a;
}

:host {
  align-self: flex-start;
}

#actionsBar > * {
  display: inline-block !important;
  margin: 10px 0 0 10px;
}

.mat-paginator {
  background: rgba(255,255,255,0);
}

.fab-buttons {
  position: fixed;
  bottom: 90px;
  right: 90px;
}
