<div *ngIf="company">
    <mat-card class="company-card">
      <mat-card-header>
        <mat-card-title>{{"COMPANY.UPDATE" | translate}}</mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="editForm">
        <form class="example-form" [formGroup]="editForm">

          <div class="form-group">
            <mat-form-field class="example-full-width" hintLabel="Max {{ nameMaxLength }} characters">
              <mat-label>{{"COMPANY.CNAME" | translate}}</mat-label>
              <input matInput #inputName [attr.maxlength]="nameMaxLength" placeholder="{{'COMPANY.CNAME' | translate}}" name="name" formControlName="name" value="{{ company.name }}">
              <mat-hint align="end">{{ inputName.value?.length || 0 }}/{{ nameMaxLength }}</mat-hint>
            </mat-form-field>
          </div>
          <img mat-card-image src="{{image}}" alt="">

          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput class="form-control" formControlName="image" placeholder="{{'COMPANY.IMG' | translate}}" value="{{company.image}}">
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="example-full-width" hintLabel="Max {{ descMaxLength }} characters">
              <textarea rows="10" matInput #inputDescription [attr.maxlength]="descMaxLength" placeholder="{{'COMPANY.INFO' | translate}}" class="form-control" formControlName="description" value="{{company.description}}"></textarea>
              <mat-hint align="end">{{ inputDescription.value?.length || 0 }}/{{ descMaxLength }}</mat-hint>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="submit()">{{'BUTTON.CONFIRM' | translate}}</button>
        <a mat-raised-button [routerLink]="['/company/details/', company.id]">{{'BUTTON.CANCEL' | translate}}</a>
      </mat-card-actions>
      <mat-spinner *ngIf="editForm==null"></mat-spinner>

      <mat-card-content>
      </mat-card-content>
        <table mat-table [dataSource]="company.computers">

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="cell-name"> {{'COMPUTER.CNAME' | translate}} </th>
            <td mat-cell *matCellDef="let element" class="cell-name"> {{element.name}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="introduced">
            <th mat-header-cell *matHeaderCellDef class="cell-intro"> {{'COMPUTER.INTRO' | translate}} </th>
            <td mat-cell *matCellDef="let element" class="cell-intro"> {{element.introduced | introducedDatePipe | translate}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="discontinued">
            <th mat-header-cell *matHeaderCellDef class="cell-disco"> {{'COMPUTER.DISC' | translate}} </th>
            <td mat-cell *matCellDef="let element" class="cell-disco"> {{element.discontinued | discontinuedDatePipe | translate}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="supprimer">
            <th mat-header-cell *matHeaderCellDef class="cell-action"> {{'COMPUTER.DELETE' | translate}} </th>
            <td mat-cell *matCellDef="let element" class="cell-action">
                <button mat-raised-button color="primary" (click)="delete(element.id)">{{'COMPUTER.DELETE' | translate}}</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card>
</div>
