@import '~@angular/material/theming';
@include mat-core();

$cdb-primary: mat-palette($mat-red);
$cdb-accent:  mat-palette($mat-pink);
$cdb-warn:    mat-palette($mat-deep-orange);

$cdb-theme: mat-light-theme($cdb-primary, $cdb-accent, $cdb-warn);

@include angular-material-theme($cdb-theme);

.alternate-theme {
  $alternate-primary: mat-palette($mat-amber);
  $alternate-accent:  mat-palette($mat-orange);

  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);

  @include angular-material-theme($alternate-theme);
}
